* {
    box-sizing: border-box;
}

.nav-link.active {
    background-color: #404040;
    color: #fff !important;
    position: relative;
}

#mainContent {
    padding: 0 !important;
}

.nav-link:before {
    content: '';
    width: 0;
    left: 50%;
    transition: width .5s, left .5s;
}

.nav-link.active:before {
    position: absolute;
    height:4px;
    background-color: #fff;
    color: #fff;
    width: 100%;
    bottom: 3px;
    left: 0;
    content: '';
    border-radius: 3px;
    margin: 0 !important;
}

.nav-link.closed:before {
    left: 50% !important;
    width: 0 !important;
}

.nav-link.active.opened:before {
    left: 0;
    width: 100%;
}

.nav-link {
    padding: .5rem .1rem !important;
}

.nav-item {
    padding: .4rem 1rem !important;
}

.navbar-nav .nav-item:hover .dropdown-menu { 
    display: block;
}

ul.dropdown-menu {
    border: 0;
    background-color: rgba(255, 255, 255 , 0.9);
}

a.nav-link.active {
    background-color: transparent !important;
    
}

#logotext {
    text-decoration: none;
    font-size: 1.5rem;
    /*padding-left: 2rem;*/
}

#topCarousel {
    overflow: hidden;
    max-height: 600px;
}

.navbar-dark {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    --bs-navbar-toggler-border-color: rgb(255, 255, 255);
}

@media screen and (max-width: 576px) {
    .nav-link {
        display: inline-block;
    }
    
    .nav-item {
        padding: 0 !important;
    }
}
